@*@model IEnumerable<SearchingSortingPaging.Models.Category>*@
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<SearchingSortingPaging.Models.Category>
@{
    ViewBag.Title = "Index";
}

<br />

<p>
    @Html.ActionLink("Create New Category", "Create")
</p>
<table class="table">
    <tr>
        <th colspan="2">
            @using (Html.BeginForm("Index", "Category", FormMethod.Get))
            {
                <p>
                    Search: @Html.TextBox("SearchString")
                    <input type="submit" name="submit" value="Search" class="btn btn-default" />
                </p>
            }
        </th>
    </tr>
    <tr>
        <th>
            @Html.ActionLink("Category Name", "Index", new { sort = ViewBag.SortByCategoryName, SearchString = Request.QueryString["SearchString"] })
        </th>
    </tr>
    @{
        if (Model.Count() == 0)
        {
            <tr>
                <th colspan="2">
                    Category no found..
                </th>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        }
    }
</table>
@Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber, SearchString = Request.QueryString["SearchString"], sort = Request.QueryString["sort"] }))
@*Alternative Pager Options
    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber, SearchString = Request.QueryString["SearchString"] }), PagedListRenderOptions.Classic)
    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber, SearchString = Request.QueryString["SearchString"] }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber, SearchString = Request.QueryString["SearchString"] }), PagedListRenderOptions.Minimal)
    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber, SearchString = Request.QueryString["SearchString"] }), PagedListRenderOptions.MinimalWithItemCountText)
    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber, SearchString = Request.QueryString["SearchString"] }), PagedListRenderOptions.MinimalWithPageCountText)
    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber, SearchString = Request.QueryString["SearchString"] }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber, SearchString = Request.QueryString["SearchString"] }), PagedListRenderOptions.PageNumbersOnly)
    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber, SearchString = Request.QueryString["SearchString"] }), PagedListRenderOptions.TwitterBootstrapPager)
    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber, SearchString = Request.QueryString["SearchString"] }), PagedListRenderOptions.TwitterBootstrapPagerAligned)
*@
