@*@model IEnumerable<SearchingSortingPaging.Models.Book> *@
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<SearchingSortingPaging.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Book", "Create")
</p>
<table class="table">
    <tr>
        <th colspan="9">
            @using (Html.BeginForm("Index", "Book", FormMethod.Get))
            {
                <p>
                    Category: @Html.DropDownList("bookCategory", "All")
                    Search Option: @Html.RadioButton("option", "Name") Name @Html.RadioButton("option", "Author") Author @Html.RadioButton("option", "Publisher") Publisher 
                    @Html.TextBox("SearchString")
                    <input type="submit" name="submit" value="Search" class="btn btn-default" />
                </p>
            }
        </th>
    </tr>

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().PublicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ReducedPrice)
        </th>
        <th></th>
    </tr>
    @{
        if (Model.Count() == 0)
        {
            <tr>
                <th colspan="9">
                    Book no found..
                </th>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ISBN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReducedPrice)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        }
    }
</table>
@Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber, SearchString = Request.QueryString["SearchString"] }))